/* default bootstrap behaviour */

.navbar-toggler {
  border: none !important;
  outline: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

/* .................style starts here................. */
nav {
  background-color: black;
}
.navbar-brand {
  font-size: 1.5rem;
}
.login-btn {
  text-decoration: none;
  color: white;
}
.nav-item .nav-link {
  color: white !important;
  margin-right: 0.8rem;
}
.signup-btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

/* ..................section.................. */
.book-ride h1 {
  font-size: 3rem;
  font-weight: 700;
}

#map {
  border-radius: 10px;
}
.input-fields {
  width: 65%;
  position: relative;
}

.input-fields input {
  padding: 0.6rem 0.5rem 0.6rem 1.4rem;
  border-radius: 8px;
  border: 2px solid white;
  outline: none;
}
.input-fields input:focus {
  border: 2px solid black;
}
.date-input input {
  width: 50%;
}
.date-input select {
  border-radius: 8px;
  width: 50%;
  border: 0;
  padding-left: 1rem;
}
.pickup-input {
  position: relative;
}
.pickup-input i {
  position: absolute;
  right: 5%;
  top: 10;
  transform: translate(-50%, -50%);
}
.btn-see-price {
  outline: none;
  border: none;
  padding: 0.8rem 1.6rem;
  background-color: black;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
}

/* ..........suggestion section.................... */
#suggestion p {
  font-size: 0.8rem;
}
#suggestion .wrapper {
  background-color: #f2f2f2;
}
.ride-details {
  outline: none;
  border: none;
  padding: 0.6rem 1rem;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

/* ...............section login............ */
.section-right {
  flex-basis: 50%;
}
.section-left {
  flex-basis: 50%;
}

.feature-sections .section-left h1 {
  font-size: 3rem;
  font-weight: 700;
}
.section-login-btn {
  padding: 0.6rem 0.8rem;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}
.signup-link {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
.section-left-btns {
  width: 60%;
}
/* .................Media queries.............. */

@media (max-width: 768px) {
  #main {
    background-color: black;
  }
  .book-ride h1 {
    width: 100% !important;
    font-size: 2rem;
    color: white;
  }
  .input-fields {
    width: 100%;
  }
  .btn-see-price {
    background-color: white;
    color: black;
  }
  .feature-sections .section-left h1 {
    font-size: 2rem;
  }
  .section-left-btns {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .input-fields::after {
    content: '';
    width: 2.7rem;
    height: 0.5px;
    background-color: black;
    transform: rotate(90deg);
    position: absolute;
    top: 23%;
    left: -2%;
  }
  .circle-square i {
    font-size: 0.4rem;
  }
  .circle-square {
    transform: rotate(90deg);
    position: absolute;
    z-index: 2;
    top: 8%;
    left: -10%;
  }
}
